<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jonathanlee.springsecuritydynamicauthentication.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="Menu">
        <id property="id" column="id"/>
        <result property="pattern" column="pattern"/>
        <collection property="roles" ofType="Role">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="nameZh" column="nameZh"/>
        </collection>
    </resultMap>
    <select id="getAllMenus" resultMap="BaseResultMap">
        select m.id,m.pattern,r.id, name, nameZh from `menu` as `m` left join `menu_role` as `mr` on m.id = mr.mid left join `role` as `r` on mr.rid = r.id
    </select>
</mapper>